html,* {font-size: 14px; box-sizing: border-box}
h2 {font-size: 1.5em; border-bottom: 2px #eee solid; padding-bottom: 8px}
.clearfix:after, .clearfix:before {display: table;content: " ";clear: both;}
label {display: inline-block;width: 180px;text-align: right;padding-right: 20px;}
div.fields > div {margin-bottom: 8px}
#container {padding-left: 180px; }
#container > div {float: left; margin-right: 20px}
#x509Names > div {margin-bottom: 3px}
#x509Names > div:last-child {margin-bottom: 0}
input[type=button]{
    padding: 8px 20px;
    background-color: #0075ff;
    border-width: 0;
    color: #fff;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
    outline: 0;
    font-weight: 500;
    font-size: 12px;
    border-radius: 3px;
    outline: none;
}
input[type=text], textarea {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
    font-size: inherit;
    height: 32px;
    line-height: 32px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    min-width: 300px;
}
textarea {
    line-height: 140%;
    padding: 5px 15px;
    resize: vertical;
    height: auto;
}
select {
    border: 1px #ccc solid;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    min-width: 300px;
}
